body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.password-cointainer{
    background-color: rgb(121, 178, 180);
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0,0,0,.3);
    margin: 10px;

}
.input-container{
    border: solid 3px black;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input {
    border: none;
    background-color: rgb(121, 178, 180);
    outline: none;
    font-size: 24px;
    letter-spacing: 4px;
}
 .input::placeholder{
    letter-spacing: 0px;
 }
 .fa-copy{
    cursor: pointer;
    opacity: 0.3;
 }

 .fa-copy:hover{
    opacity: 0.7;
 }
 .btn{
    background: black;
    color: rgb(252, 250, 250);
    border:none;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px  0;
    font-size: 20px;
 }

 .btn:hover{
    background-color: green;
 }
 .btn:active{
    transform: scale(0.95);
 }
 .alert-cointainer{
    position: fixed;
    width: 300px;
    height: 50px;
    background-color: aquamarine;
    right: 20px;
    bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0,0,0,.3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
 }

 .active.alert-cointainer{
    right: -300px;

 }